%flex-r-ac {
    display: flex;
    align-items: center;
}

%flex-r-jc {
    display: flex;
    justify-content: center;
}

%flex-r-cc {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-col {
    display: flex;
    flex-direction: column;
}

%flex-col-cc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin title1 {
    color: $white;
    font-family: $ff-Inter;
    font-size: $h1;
    font-style: normal;
    font-weight: $fw600;
    line-height: $lh120;
}

@mixin title2 {
    color: $white;
    font-family: $ff-Inter;
    font-size: $h2;
    font-style: normal;
    font-weight: $fw500;
    line-height: $lh140;
}

@mixin title5 {
    color: $white;
    font-family: $ff-Inter;
    font-size: $h5;
    font-style: normal;
    font-weight: $fw600;
    line-height: $lh100;
}

@mixin paragr1 {
    color: $white;
    font-family: $ff-Inter;
    font-size: $par1;
    font-style: normal;
    font-weight: $fw400;
    line-height: $lh140;
}

@mixin paragr2 {
    color: $white;
    font-family: $ff-Inter;
    font-size: $par2;
    font-style: normal;
    font-weight: $fw400;
    line-height: $lh150;
}

@mixin placeholder {
    color: $plhold;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: $ff-Inter;
    font-size: $par3;
    font-style: normal;
    font-weight: $fw400;
    line-height: 30px;
    letter-spacing: 0.2px;
}

@mixin img-position {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 100px;
}

@mixin gradient-position {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}

@mixin btn-transparent {
    @extend %flex-r-cc;
    border: $br-white;
    border-radius: 5px;
    background: $bg-transp;
}

@mixin btn-red {
    @extend %flex-r-cc;
    background-color: $red;
    border-radius: 5px;
    border: none;
    opacity: 1;
}

@mixin font-size($h1, $h1_s) {
    font-size: calc($h1_s + (#{$h1 / 1px} - #{$h1_s / 1px})*((100vw - 320px) / (1920 - 320)));

}